keybinds {
  vim{  
    left = <h>
    right = <l>
    up = <k>
    down = <j>
    visual = <v>
    normal = <ESC>,<CTRL+[>
    insert_after = <a>
    insert_before = <i>
    insert_AFTER = <A>
    insert_BEFORE = <I>
    find = <f>
    find_back = <F>
    undo = <u>
    replace = <r>
    paste_after = <p>
    paste_before = <P>
    copy = <y>
    copy_paragraph = <Y>
    word_next = <w>
    word_end = <e>
    WORD_end = <E>
    word_begin = <b>
    WORD_begin - <B>
    
    #if keybinds::verbatim::use_vim = true then the following would be used
    verbatim::pocket = <1>
    verbatim::hat = <2>
    verbatim::block = <3>
    verbatim::tag = <4>
    verbatim::cite = <5>
    #etc. (could be applied to any verbatim settings)
  }

  sidebar { #for sidebar control
    toggle = <CTRL+B>
    use_vim_for_movement = true #enables hjkl for moving in file explorer
  }

  verbatim { #verbatim keybinds
    use_vim = false
    paste = <F2>
    condense = <F3>
    pocket = <F4>
    hat = <F5> block = <F6>
    tag = <F7>
    cite = <F8>
    underline = <F9>
    emphasis = <F10>
    highlight = <F11>
    clear = <F12>
  }
  
}
visuals { #colors are hex but with two digit opacity hex values prepended
  editor {
    text { # normal text
      color = 0xffffffff
      size = 10
    }

    background = 0xff212121

    highlight {
      color = 0xffffe536
      size = 10 
    }

    bold {
      color = 0xffffffff
      percent = 40 # as a percentage larger
    }

    verbatim {

      pocket {
        color = 0xffffff
        size = 36
      }

      hat {
        color = 0xffffff
        size = 24
      }

      block {
        color = 0xffffff
        size = 20
      }

      tag {
        color = 0xffffff
        size = 18
      }

      cite {
        color = 0xffffff
        size = 14
      }
    }
  }

  sidebar {
    card_color = 0xffababab
    deck_color =  0xffc5c5c5
    speech_color = 0xff1bdb00
    document_color = 0xff00c7db
    direcory_color = 0xffffffff
    tree_line_color = 0xffc0c0c0
    outline_color = 0xffababab
  }

  tab_bar {
    outline_color = 0xffababab
    foreground_color = 0xff404040
    background_color = 0xff212121
    label_color = 0xffbababa
    icon_color = 0xffd9d9d9
  }

  tool_bar {
    foreground_color = 0xff404040
    background_color = 0xff212121
    outline_color = 0xffababab
    label_color = 0xffbababa
    icon_color = 0xffd9d9d9
  }
}
