#this will be where settings are stored, i'll use the hashtag for comments and follow the json-esque formatting that hyprland uses for variables in hypr.conf
keybinds { #for keybinds settings
  vim{ #for changing vimbinds
  
  }
  sidebar { //this is an example of what a non vim-setting looks like

  }
  
}
visuals {
  text {
    color = 0xffffff
    size = 10
  }
  background {
    color1 = 0x000000
  }
}
